<div class='container'>
<h1>Welcome to Yelp!</h1>
<h3>Your reviewed restaurants:</h3>
<ul class="list-group">
<% @restaurants.each do |restaurant| %>
    <li class="list-group-item"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>
<%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-dark" %>
</div>
